<article class="stekje-item">
  <h3 class="stekje-item-title">{{ stekje.naam }}</h3>
  <div class="stekje-item-bg">
    <picture>
        {% comment %} Resolution switching {% endcomment %}
      <source
        media="(max-width: 500px)"
        srcset="https://fdnd-agency.directus.app/assets/{{ stekje.foto.id }}?format=avif&width=400"
        type="image/avif"
        loading="lazy">


        {% comment %} Webp format {% endcomment %}
      <source
        srcset="https://fdnd-agency.directus.app/assets/{{ stekje.foto.id }}?format=webp&width=800"
        type="image/webp"
        loading="lazy">

        {% comment %} Fallback {% endcomment %}
      <img
        src="https://fdnd-agency.directus.app/assets/{{ stekje.foto.id }}?width=800"
        width="{{ stekje.foto.width }}"
        height="{{ stekje.foto.height }}"
        alt="{{ stekje.naam }}"
        loading="lazy"
        style="background: #969494;">
    </picture>
  </div>
  <a href="stekje/{{ stekje.id }}" class="stekje-item-link">Bekijk stekje</a>
</article>

<style>
  .stekje-item {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px black;
    transition: all 0.3s ease;


     &:hover {
      box-shadow: 0 0 50px #2a5c45;
      transform: translateY(-10px);
    }

    @media (min-width: 800px) {
      height: 600px;
    }
  }

  .stekje-item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .stekje-item-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .stekje-item-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .stekje-item-title {
    padding: 10px;
    margin: 10px;
    align-self: flex-start;
    font-size: 1.2rem;
    color: #2a5c45;
    background-color: white;
    text-align: left;
    border-radius: 15px;
  }

  .stekje-item-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #2a5c45;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    margin: 0;
  }

  .stekje-item-link:hover {
    background: #1e4634;
  }
</style>